{% extends 'app/base.html' %}
{% load static %}
{% load staticfiles %}
 {% block block %}
 <h3> Add Article </h3>
 <h2><strong>{{ invalid }} </strong></h2>
<form  name="myForm" class = "form-horizontal text-center"  method = "post" action = "/gif/addarticle/" onsubmit="return validateForm()">
				{% csrf_token %}
				<div class = "form-group">
					<div class="col-sm-12">
					Link:
				        <input type="text" class="form-control" id="link" placeholder="http://" name = "link">
				    </div>
				</div>
				<div class = "form-group">
					<div class="col-sm-12">
				       Title: <input type="text" class="form-control" id="title" placeholder="title" name = "title">
				    </div>
				</div>
				<div class = "form-group">
					<div class="col-sm-12">
				       Keyword 1:  <textarea rows = "6" cols ="100" id="keyword1" placeholder="" name = "keyword1" ></textarea> 
				    </div>
				</div>
				<div class = "form-group">
					<div class="col-sm-12">
				       Keyword 2:  <textarea rows = "6" cols ="100" id="keyword2" placeholder="" name = "keyword2" ></textarea> 
				    </div>
				</div>
				<div class = "form-group">
					<div class="col-sm-12">
				       Keyword 3:  <textarea rows = "6" cols ="100" id="keyword3" placeholder="" name = "keyword3" ></textarea> 
				    </div>
				</div>
				<div class = "form-group">
					<div class="col-sm-12">
				       Keyword 4:  <textarea rows = "6" cols ="100" id="keyword4" placeholder="" name = "keyword4" ></textarea> 
				    </div>
				</div>
				<div class = "form-group">
					<div class="col-sm-12">
				       Keyword 5:  <textarea rows = "6" cols ="100" id="keyword5" placeholder="" name = "keyword5" ></textarea> 
				    </div>
				</div>
				<div class="form-group">
			        <button type="submit"  class="btn btn-success">Submit</button>
			    </div>
					    
</form>
 {% endblock %}
