{% extends 'app/base.html' %}
{% load static %}
{% load staticfiles %}
 {% block block %}
 

<h3> Register </h3>
<form  name="myForm" class = "form-horizontal text-center"  method = "post" action = "/gif/register/" onsubmit="return validateForm()">
				{% csrf_token %}
				<div class = "form-group">
					<div class = "form-group">
					<div class="col-sm-12">
				       Email: <input type="text" class="form-control" id="email" placeholder="email" name = "email">
				    </div>
				</div>
					<div class="col-sm-12">
					UserName:
				        <input type="text" class="form-control" id="username" placeholder="username" name = "username">
				    </div>
				</div>
				<div class = "form-group">
					<div class="col-sm-12">
				       Password: <input type="password" class="form-control" id="password" placeholder="password" name = "password">
				    </div>
				</div>
				<div class="form-group">
			        <button type="submit"  class="btn btn-success">Submit</button>
			    </div>
					    
</form>
<script>
function validateEmail(email) {
  var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  return re.test(email);
}
function validateForm() {
  	var email = document.forms["myForm"]["email"].value;
  	if (validateEmail(email) ) {
  	}
  	else {
  		alert("Email must be valid");
  		return false;
  	}	
}
    
</script>
 {% endblock %}
